<div class="modal-container">
    <h2 class="modal-title">Editar Proveedor</h2>
    <form (ngSubmit)="editarProveedor()">
      <!-- Agrega campos de formulario para editar los datos del usuario -->
      <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" [(ngModel)]="proveedor.user.firstName" name="firstName">
        <br>
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" [(ngModel)]="proveedor.user.lastName" name="lastName">
        <br>
        <label for="cuit">CUIT:</label>
        <input type="text" id="cuit" [(ngModel)]="proveedor.cuit" name="cuit">
        <br>
        <label for="identificationNumber">Numero Identificador:</label>
        <input type="text" id="identificationNumber" [(ngModel)]="proveedor.identificationNumber" name="identificationNumber">
      </div>
      <!-- Agrega más campos según tus necesidades -->
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" (click)="cerrarModal()" class="btn btn-secondary">Cancelar</button>
    </form>
  </div>
  