<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="card">
      <h2> Gestion de Proveedores</h2>
      <p-table #dt1 [value]="proveedores" [rows]="10" [paginator]="true"
        [globalFilterFields]="['supplier.user.username', 'supplier.user.firstName', 'supplier.user.lastName', 'supplier.user.dni']"
        [resizableColumns]="true" [reorderableColumns]="true" [filterMode]="'lenient'">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Buscar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columnas" [pSortableColumn]="col.field"
              [style.width]="col.field === 'acciones' ? '3rem' : 'auto'">
              <div class="flex align-items-center">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
          <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.user.username }}</td>
            <td>{{ supplier.user.firstName }}</td>
            <td>{{ supplier.user.lastName }}</td>
            <td>{{ supplier.user.dni }}</td>
            <td>{{ supplier.cuit }}</td>
            <td>{{ supplier.identificationNumber }}</td>
            <td>
              <img src="../../assets/lapiz.png" (click)="abrirModalEdicion(supplier)" class="icono-accion reducir-imagen" />
              <img src="../../assets/tacho.jpg" (click)="eliminarUsuario(supplier.id)" class="icono-accion reducir-imagen" />
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columnas.length">No hay proveedores a mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>