<div class="faq-container">

  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <p-messages></p-messages>

    <div class="search-container">
      <input type="text" placeholder="Buscar...">
    </div>
    <button class="alta-faq-button" (click)="mostrarFormulario()">Alta FAQ</button>

    <p-dialog header="{{ mostrarFormEditar ? 'Editar FAQ' : 'Nueva FAQ' }}" [(visible)]="mostrarForm || mostrarFormEditar"
            [modal]="true" [responsive]="true" [style]="{width: '50vw'}">
      <form (submit)="guardarFaq($event)">
        <div class="form-group">
          <label for="nombre">Pregunta:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="mostrarFormEditar ? faqEdit.name : nuevaFaq.name" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Respuesta:</label>
          <textarea id="descripcion" name="descripcion" [(ngModel)]="mostrarFormEditar ? faqEdit.description : nuevaFaq.description" required></textarea>
        </div>
        <div class="form-actions">
          <button pButton type="submit" label="{{ mostrarFormEditar ? 'Guardar' : 'Agregar FAQ' }}"></button>
          <button pButton type="button" (click)="cancelarEdicion()" label="Cancelar"></button>
        </div>
      </form>
    </p-dialog>

    <div class="faq-list">
      <p-accordion>
        <p-accordionTab *ngFor="let faq of faqs" [header]="faq.name" [expanded]="faq.expanded">
          <p>{{ faq.description }}</p>
          <button pButton icon="pi pi-pencil" (click)="editarFaq(faq)"></button>
          <button pButton icon="pi pi-trash" (click)="eliminarFaq(faq.id)"></button>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="ask-developers">
      <h2>¿No encuentras la pregunta?</h2>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" required>
        </div>
        <div class="form-group">
          <label for="pregunta">Pregunta:</label>
          <textarea id="pregunta" name="pregunta" required></textarea>
        </div>
        <div class="form-actions">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
