<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="card">
      <h1> Gestion de Compras</h1>
      <p-table #dt1 [value]="purchaseRecord" [rows]="10" [paginator]="true"
        [globalFilterFields]="['product.name', 'product.branch']"
        [resizableColumns]="true" [reorderableColumns]="true" [filterMode]="'lenient'">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Buscar..." />
            </span>
            <button class="btn btn-danger float-end" routerLink="/dashboard">VOLVER</button>
            <button class="btn btn-success float-end" routerLink="/crear-compra">NUEVO</button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columnas" [pSortableColumn]="col.field"
              [style.width]="col.field === 'acciones' ? '3rem' : 'auto'">
              <div class="flex align-items-center">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-purchaseRecord>
          <tr *ngFor="let product of purchaseRecord.product; let firstProduct = first">
            <td *ngIf="firstProduct">{{ purchaseRecord.id }}</td>
            <td *ngIf="firstProduct">{{ product.name }}</td>
            <td *ngIf="firstProduct">{{ purchaseRecord.purchaseDateTime | date: 'dd/MM/yyyy' }}</td>
            <td *ngIf="firstProduct">{{ purchaseRecord.purchaseAmount }}</td>
            <td *ngIf="firstProduct">{{ purchaseRecord?.supplier?.user?.firstName }}</td>
            <td *ngIf="firstProduct">
              <span class="pi pi-calendar agenda-icon" (click)="downloadPDF(purchaseRecord.id)"></span>
            </td>
          </tr>
        </ng-template>
        
        
        
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columnas.length">No hay compras a mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
