.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que ocupe toda la altura del modal */
  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .modal-list {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .modal-list li {
    margin-bottom: 10px;
  }
  
  .modal-list li strong {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  