<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="card">
      <h1> Gestion de Ventas</h1>
      <p-table #dt1 [value]="saleRecord" [rows]="10" [paginator]="true"
        [globalFilterFields]="['saleRecord.name', 'saleRecord.branch']" [resizableColumns]="true"
        [reorderableColumns]="true" [filterMode]="'lenient'">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Buscar..." />
            </span>
            <button class="btn btn-danger float-end" routerLink="/principal">VOLVER</button>
            <button class="btn btn-success float-end" routerLink="/crear-venta">NUEVO</button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columnas" [pSortableColumn]="col.field"
              [style.width]="col.field === 'acciones' ? '3rem' : 'auto'">
              <div class="flex align-items-center">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-saleRecord>
          <tr>
            <td>{{ saleRecord.saleDateTime }}</td>
            <td>{{ saleRecord.quantity }}</td>
            <td>{{ saleRecord.saleAmount | currency:'USD' }}</td>
            <td>{{ saleRecord.supplier }}</td>
            <td>{{ saleRecord.client }}</td>
            <td>
              <span class="pi pi-trash trash-icon" (click)="eliminarVenta(saleRecord.id)"></span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columnas.length">No hay ventas a mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>