/* login.component.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Fondo de color claro para el cuerpo de la página */
  overflow: hidden; /* Evita desbordamiento en la pantalla completa */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de la pantalla completa */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100%; /* Altura de la pantalla completa */
  background-color: #ddd; /* Fondo gris claro para el contenedor principal */
}

.image-container {
  flex: 7; /* Ocupa el 70% del ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%; /* Ajusta la altura al 100% */
  background-color: #ddd; /* Fondo gris claro para el contenedor de la imagen */
}

.image-container img {
  max-width: 100%;
  height: 100%; /* Llena verticalmente el espacio disponible */
  object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
}

.form-container {
  flex: 3; /* Ocupa el 30% del ancho */
  background-color: #ddd; /* Fondo gris claro para el formulario */
  padding: 20px;
  border-radius: 0 5px 5px 0; /* Redondear solo el lado derecho */
}

.form-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 80%;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 83%;
  padding: 10px;
  background-color: #0056b3; /* Fondo azul oscuro */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003f80; /* Color más oscuro al pasar el mouse */
}

.forgot-password {
  margin-top: 10px;
}
