<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="titulo">{{titulo | uppercase }}</span>
                            <form class="mt-3" [formGroup]="ventaForm" (ngSubmit)="agregarVenta()">
                                <div class="mb-3">
                                    <input type="date" formControlName="fecha" class="form-control form-control-lg"
                                        placeholder="Fecha">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('fecha')?.hasError('required') && ventaForm.get('fecha')?.touched">

                                        <span>La fecha <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" formControlName="cantidad" class="form-control form-control-lg"
                                        placeholder="Cantidad">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('cantidad')?.hasError('required') && ventaForm.get('cantidad')?.touched">

                                        <span>La cantidad <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="number" formControlName="precio" class="form-control form-control-lg"
                                        placeholder="Precio">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('precio')?.hasError('required') && ventaForm.get('precio')?.touched">

                                        <span>El precio <strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" formControlName="vendedor" class="form-control form-control-lg"
                                        placeholder="Vendedor">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('vendedor')?.hasError('required') && ventaForm.get('vendedor')?.touched">

                                        <span>El vendedor <strong>es obligatoria</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <input type="number" formControlName="cliente" class="form-control form-control-lg"
                                        placeholder="Cliente comprador">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('cliente')?.hasError('required') && ventaForm.get('cliente')?.touched">

                                        <span>El cliente <strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button routerLink="/listar-venta"
                                        class="btn btn-secondary btn-lg float-start">VOLVER</button>
                                    <button type="submit" [disabled]="ventaForm.invalid"
                                        class="btn btn-success btn-lg float-end">ACEPTAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>