<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="titulo">{{titulo | uppercase }}</span>
                            <form class="mt-3" [formGroup]="ventaForm" (ngSubmit)="agregarVenta()">
                                <div class="mb-3">
                                    <input type="date" formControlName="saleDateTime" class="form-control form-control-lg"
                                        placeholder="Fecha">
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('saleDateTime')?.hasError('required') && ventaForm.get('saleDateTime')?.touched">
                                        <span>La fecha <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p-multiSelect formControlName="producto" aria-placeholder="Productos"
                                        [options]="products" [style]="{'width': '100%'}"
                                        optionLabel="name">
                                        <ng-template let-product pTemplate="item">
                                            <div>{{ product.name }} - {{ product.code }}</div>
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                                <div class="mb-3">
                                    <select formControlName="client" class="form-control form-control-lg" id="client" (change)="onClientChange()">
                                        <option *ngFor="let client of client" [value]="client.id">
                                            {{ client.user.firstName }} {{ client.user.lastName }}
                                        </option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="ventaForm.get('client')?.hasError('required') && ventaForm.get('client')?.touched">
                                        <span>El cliente <strong>es obligatorio</strong></span>
                                    </div>
                                </div>                                
                                <div class="mb-3">
                                    <button routerLink="/listar-venta"
                                        class="btn btn-secondary btn-lg float-start">VOLVER</button>
                                    <button type="submit"
                                        class="btn btn-success btn-lg float-end">ACEPTAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>