/* Estilos para la disposici칩n del dise침o */
.layout {
    display: flex; /* Usar flexbox para disposici칩n de la barra lateral y el contenido */
  }
  
  .content {
    flex-grow: 1; /* El contenido crecer치 para llenar el espacio restante */
    overflow: auto; /* Agregar scroll si el contenido desborda la pantalla */
  }
  
  /* Estilos para la barra lateral */
  app-sidebar {
    width: 250px; /* Ancho deseado de la barra lateral */
    background-color: #1e3a6f;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0; /* Alinear la barra lateral en la parte superior */
    left: 0; /* Alinear la barra lateral en la parte izquierda */
    bottom: 0; /* Estirar la barra lateral hasta la parte inferior */
    z-index: 1; /* Colocar la barra lateral por encima del contenido */
    display: flex;
    flex-direction: column; /* Alinear elementos de la barra lateral en columna */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* ... (otros estilos para la barra lateral) ... */
  