<!-- sidebar.component.html -->
<div class="sidebar">
  <div class="sidebar-header text-center">
    <div class="logosidebar">
    <img src="../../assets/vabiralogo.png" alt="Logo de VABIRA">
  </div>
    <h1>VABIRA</h1>
  </div>
  <ul class="list-unstyled">
    <!-- Grupo 1 -->
    <li class="sidebar-group">
      <div>
        <a routerLink="/reportes" *appAuth="['Gestionar Reportes']">
          <i class="material-icons">dashboard</i> Dashboard
        </a>
      </div>
        <a *appAuth="['Gestionar Usuarios']" (click)="toggleCollapse('usuariosCollapse')" class="custom-dropdown-toggle">
          <i class="material-icons">person</i> Usuarios
        </a>
        <!-- Agregar el ID al elemento que se colapsará -->
        <ul id="usuariosCollapse" [ngClass]="{'collapse': !isCollapseOpen('usuariosCollapse')}">
          <li><a class="dropdown-item" routerLink="/proveedor">Proveedor</a></li>
          <li><a class="dropdown-item" routerLink="/cliente">Cliente</a></li>
          <li><a class="dropdown-item" routerLink="/usuarios">Usuario</a></li>
        </ul>
        <a (click)="toggleCollapse('scheduleCollapse')" class="custom-dropdown-toggle">
          <i class="material-icons">schedule</i> Turneros
        </a>
        <ul id="scheduleCollapse" [ngClass]="{'collapse': !isCollapseOpen('scheduleCollapse')}">
          <li><a class="dropdown-item" routerLink="/lista-turnero">Agenda</a></li>
          <li *appAuth="['Gestionar Turnero']">
            <a class="dropdown-item" routerLink="/turneros">Turnero</a>
          </li>
        </ul>
        <a *appAuth="['Gestionar Productos']" (click)="toggleCollapse('productosCollapse')" class="custom-dropdown-toggle">
          <i class="material-icons">shopping_cart</i> Productos
        </a>
        <!-- Agregar el ID al elemento que se colapsará -->
        <ul id="productosCollapse" class="collapse vertical-collapse" [ngClass]="{'collapse': !isCollapseOpen('productosCollapse')}">
          <li><a class="dropdown-item" routerLink="/listar-venta">Ventas</a></li>
          <li><a class="dropdown-item" routerLink="/listar-compras">Compras</a></li>
          <li><a class="dropdown-item" routerLink="/listar-producto">Productos</a></li>
        </ul>
    </li>

    <!-- Grupo 3 -->
    <li class="sidebar-group">
      <div>
        <a *appAuth="['Gestionar Notificaciones']" routerLink="/notificaciones">
          <i class="material-icons">notifications</i> Notificaciones <span *appAuth="['Gestionar Notificaciones']" class="badge bg-secondary">{{quantity}}</span>
        </a>
      </div>
      <div>
        <a routerLink="/ajustes">
          <i class="material-icons">settings</i> Ajustes
        </a>
      </div>
      <div *appAuth="['Gestionar BackUp']">
        <a routerLink="/backup">
          <i class="material-icons">backup</i> Backup
        </a>
      </div>
      <div>
        <a routerLink="/ayuda">
          <i class="material-icons">help</i> Ayuda
        </a>
      </div>
    </li>

    <!-- Grupo 4 -->
    <li class="sidebar-group">
      <div class="profile-container">
        <a routerLink="/perfil" class="profile-link">
          <div class="profile-box">
            <i class="material-icons">account_circle</i>
            <span>{{ userName }} ({{ userRole }})</span>
            <!-- Muestra el nombre y el rol del usuario -->
          </div>
        </a>
        <div class="logout-box" (click)="logout()">
          <i class="material-icons">exit_to_app</i>
        </div>
      </div>
    </li>
  </ul>
</div>
