/* sidebar.component.css */

.sidebar {
  background-color: #2c3e50; /* Cambia el color de fondo a tu preferencia */
  width: 15%; 
  height: 100%; /* Altura completa */
  float: left;
  top: 0;
  left: 0;
  color: white
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-group {
  border-bottom: 1px solid #34495e; /* Línea divisoria entre grupos */
}

.sidebar-group:last-child {
  position: absolute; /* Posición absoluta para el último grupo */
  bottom: 0; /* Alineación al fondo */
  left: 0;
  right: 0; /* Ocupar todo el ancho */
  border-bottom: none; /* Eliminar la línea divisoria inferior */
}

.sidebar-group div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar-group div a {
  text-decoration: none;
  color: #ecf0f1; /* Color de texto para los enlaces */
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar-group div a:hover {
  background-color: #34495e; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para los íconos */
.material-icons {
  margin-right: 10px;
}

/* Estilo para el perfil y logout en el Grupo 4 */
.profile-container {
  display: flex;
  justify-content: space-between; /* Coloca elementos en el espacio horizontalmente */
  align-items: center;
  margin-top: 20px; /* Margen superior entre el último grupo y los grupos anteriores */
}

.profile-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 10px; /* Espacio entre el perfil y el logout */
}


.profile-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profile-box:hover {
  background-color: #34495e;
}

.logout-box {
  display: flex;
  align-items: center;
  /* Centra verticalmente el ícono de logout dentro de logout-box */
  cursor: pointer;
  font-size: 24px;
  color: #ecf0f1;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  text-decoration: none;
  color: #ecf0f1; /* Color de texto para el botón del dropdown */
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-toggle:hover {
  background-color: #34495e; /* Cambia el color de fondo al pasar el mouse */
}

.dropdown-menu {
  position: static; /* Cambiado de 'absolute' a 'static' */
  background-color: #2c3e50;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 0;
  top: 100%;
  left: 0;
  width: 100%;
}

.dropdown-item {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #34495e;
}


/* sidebar.component.css */
/* Estilo para el botón "Usuarios" */
.custom-dropdown-toggle {
  text-decoration: none;
  color: #ecf0f1; /* Color de texto para el botón de Usuarios */
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2c3e50; /* Color de fondo igual al del sidebar */
}

/* Eliminar el cambio de color al hacer hover en el botón "Usuarios" */
.custom-dropdown-toggle:hover {
  background-color: #2c3e50; /* Establecer el fondo como el color del sidebar */
}

/* Agregado para mantener el color de Usuarios igual al de las otras opciones */
.sidebar-group div .user-menu-button {
  background-color: #2c3e50;
}

/* Agregado para mantener el color del enlace de Usuario igual al de las otras opciones */
.sidebar-group div a.router-link-active {
  background-color: #34495e;
  font-weight: bold; /* Agregado para resaltar el enlace activo */
}

.custom-dropdown-toggle {
  text-decoration: none;
  color: #ecf0f1; /* Color de texto para los botones de dropdown */
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}

.custom-dropdown-toggle:hover {
  background-color: #34495e; /* Cambia el color de fondo al pasar el mouse */
}

/* .layout {
  display: flex;
  flex-direction: row; 
  overflow: hidden;
} */

/* .content {
  flex: 1;
  padding: 20px;
  overflow: auto; 
} */
