/* sidebar.component.css */

.sidebar {
  background-color: #2c3e50; /* Cambia el color de fondo a tu preferencia */
  width: 250px; /* Ancho de la barra lateral */
  height: 100%; /* Altura completa */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-group {
  border-bottom: 1px solid #34495e; /* Línea divisoria entre grupos */
}

.sidebar-group:last-child {
  position: absolute; /* Posición absoluta para el último grupo */
  bottom: 0; /* Alineación al fondo */
  left: 0;
  right: 0; /* Ocupar todo el ancho */
  border-bottom: none; /* Eliminar la línea divisoria inferior */
}

.sidebar-group div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar-group div a {
  text-decoration: none;
  color: #ecf0f1; /* Color de texto para los enlaces */
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar-group div a:hover {
  background-color: #34495e; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para los íconos */
.material-icons {
  margin-right: 10px;
}

/* Estilo para el perfil y logout en el Grupo 4 */
.profile-container {
  display: flex;
  justify-content: space-between; /* Coloca elementos en el espacio horizontalmente */
  align-items: center;
  margin-top: 20px; /* Margen superior entre el último grupo y los grupos anteriores */
}

.profile-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 10px; /* Espacio entre el perfil y el logout */
}


.profile-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profile-box:hover {
  background-color: #34495e;
}

.logout-box {
  display: flex;
  align-items: center;
  /* Centra verticalmente el ícono de logout dentro de logout-box */
  cursor: pointer;
  font-size: 24px;
  color: #ecf0f1;
}

/* .layout {
  display: flex;
  flex-direction: row; 
  overflow: hidden;
} */

/* .content {
  flex: 1;
  padding: 20px;
  overflow: auto; 
} */
