/* users.component.css */
/* ... Otros estilos ... */

.reducir-imagen {
  width: 32px;
  height: 30px;
  cursor: pointer;
}

/* ... Otros estilos ... */

.layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

app-sidebar {
  flex: 0 0 auto;
  width: 250px;
  color: white;
}

.alta-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Estilos para el contenido principal */
.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.pi pi-trash trash-icon{

  margin-left: 10px;
}
