/* Estilos para el recuadro */
body {
    background-color: #f5f5f5; /* Fondo gris */
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
}

/* Estilos para los botones */
.btn-primary {
    margin-right: 10px; /* Espacio entre los botones */
}

/* Estilos para los checkboxes */
.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    margin-bottom: 10px;
}

/* Estilos para centrar el recuadro en el medio de la pantalla */
.custom-card {
    max-width: 1100px; /* Ancho máximo personalizado */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 50px; /* Espacio desde la parte superior */
    margin-left: 250px; /* Margen izquierdo para evitar la superposición con la barra lateral */
    padding: 20px; /* Espacio interno dentro del recuadro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el recuadro */
    background-color: #fff; /* Fondo blanco para el recuadro */
    height: 80vh; /* Altura del recuadro (ajusta según sea necesario) */
}

.container-fluid {
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: #f5f5f5; /* Color de fondo gris */
}

/* Corregir estilos de la sidebar (si es necesario) */
.sidebar {
    background-color: #2c3e50;
    width: 250px; /* Ajusta el ancho de la barra lateral */
}
