<app-sidebar></app-sidebar>
<body id="colorFondo">
    <div class="content-container d-flex justify-content-center align-items-center">
        <div class="card custom-card">
            <div class="card-body">
                <h2 class="card-title">Crear Agenda</h2>
                <form (ngSubmit)="createSchedule()">
                    <div class="form-group">
                        <label for="name">Nombre de la Agenda:</label>
                        <input placeholder="Nombre de la agenda..." type="text" id="name" name="name" [(ngModel)]="scheduleData.name" class="form-control"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="turnDuration">Duración del Turno (minutos):</label>
                        <input type="number" id="turnDuration" name="turnDuration"
                            [(ngModel)]="scheduleData.turnDuration" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Días de la Semana:</label>
                    </div>
                    <div >
                        <p-calendar [(ngModel)]="scheduleData.dates" name="dates" selectionMode="multiple"
                            dateFormat="dd/mm/yy DD" [readonlyInput]="true" [showIcon]="true" (onSelect)="onSelectDate($event)"></p-calendar>
                    </div>
                    <div class="form-group mt-3">
                        <button type="button" class="btn btn-primary" (click)="onOpenTimeRangeModal()">Seleccionar Rango
                            Horario</button>
                        <button type="submit" class="btn btn-success">Crear Agenda</button>
                    </div>
                </form>
                <p-messages></p-messages>

            </div>
        </div>
    </div>
</body>