/* dashboard.component.css */

.layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center; /* Alinea el contenido horizontalmente en el centro */
  align-items: center; /* Alinea el contenido verticalmente en el centro */
}

app-sidebar {
  flex: 0 0 auto;
  width: 250px;
  background-color: #1e3a6f;
  color: white;
}
 
/* Estilos para el contenido principal */
.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.image-container {
  flex: 1; /* Que ocupe el espacio restante */
  text-align: center; /* Centra horizontalmente el contenido de la imagen-container */
  overflow: hidden; /* Evita el desbordamiento horizontal */
}

.image-container img {
  width: 70%; /* Ajusta el ancho al 100% del contenedor */
  height: 70%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

