<div class="container">
  <app-sidebar></app-sidebar> 
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let timeSlot of timeSlots">
        <tr>
          <td>{{ timeSlot.start }} - {{ timeSlot.end }}</td>
          <td *ngFor="let dayType of days2">
            <div>
              <button mat-button [id]="getButtonId(dayType, timeSlot.start, timeSlot.end)"
                (click)="handleTimeClick(dayType, timeSlot.start, timeSlot.end)"
                [class.available-button]="!isAppointmentScheduled(dayType, timeSlot.start, timeSlot.end)"
                [class.reserved-button]="isAppointmentScheduled(dayType, timeSlot.start, timeSlot.end)"
                [disabled]="reservedTimeSlots.has(getButtonId(dayType, timeSlot.start, timeSlot.end))">
                {{ isAppointmentScheduled(dayType, timeSlot.start, timeSlot.end) ? 'Reservado' : 'Reservar' }}
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <p-messages [(value)]="messages" class="toast-messages" [enableService]="false" [closable]="true"></p-messages>
  </table>
</div>