<div class="modal-header">
    <h1 class="modal-title fs-5">¡Atención!</h1>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <h2>La seña no está paga. Por favor, realiza el pago en MercadoPago.</h2>
    <p>Te pedimos que realices el pago antes de continuar.</p>
    <div class="btn-container">
      <a href="https://www.mercadopago.com.ar" target="_blank" class="btn btn-primary">Ir a MercadoPago</a>
      <button type="button" class="btn btn-success" (click)="closeModal2()">Ya realicé mi pago</button>
    </div>
  </div>
  