<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="card">
      <h1> Gestion de Productos</h1>
      <p-table #dt1 [value]="productos" [rows]="10" [paginator]="true"
        [globalFilterFields]="['product.name', 'product.branch']"
        [resizableColumns]="true" [reorderableColumns]="true" [filterMode]="'lenient'">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Limpiar Filtro" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clearGlobalFilter()"></button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Buscar..." />
            </span>
            <button class="btn btn-danger float-end" routerLink="/dashboard">VOLVER</button>
            <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columnas" [pSortableColumn]="col.field"
              [style.width]="col.field === 'acciones' ? '3rem' : 'auto'">
              <div class="flex align-items-center">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.prize | currency:'USD'}}</td>
            <td>{{ product.quantity}}</td>
            <td>
              <i [routerLink]="['/editar-producto', product._id]" class="fa-solid fa-pen-to-square text-primary"></i>
              <button pButton icon="pi pi-trash" (click)="eliminarProducto(product.id)" class="p-button-rounded p-button-danger"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columnas.length">No hay productos a mostrar.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
