<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">

    <p-tabView>

      <!-- Agrega los calendarios para seleccionar el rango de fechas -->
<p-calendar [(ngModel)]="minDate" [showIcon]="true" placeholder="Fecha mínima"></p-calendar>
<p-calendar [(ngModel)]="maxDate" [showIcon]="true" placeholder="Fecha máxima"></p-calendar>

<!-- Botón para activar el filtro -->
<p-button (click)="filtrar()">Filtrar Reportes</p-button>
            <p-dropdown
              [options]="schedules"
              [(ngModel)]="selectedSchedule"
              optionLabel="name"
              placeholder="Selecciona una agenda"
              (onChange)="loadSupplierData(); loadpresents(); loadabsents()"
            ></p-dropdown>



      <!-- Pestaña 2 -->
      <p-tabPanel *ngIf="userRoles === 'user,supplier'" header="Estadisticas de agendas">
        <div class="card">
          <div class="card-header">
            Estadisticas de agendas
          </div>

          <div class="card-body">


            <p-chart [type]="'bar'" [data]="supplierChartData" [options]="supplierChartOptions"></p-chart>
          </div>

          <button class="btn btn-primary" (click)="generarYDescargarPDFestadisticasagenda()">Descargar datos de Agenda</button>
        </div>
      </p-tabPanel>

      <!-- Pestaña 4 -->

      <p-tabPanel *ngIf="userRoles === 'user,supplier'" header="Total presentes segun dia">
        <div class="card">
          <div class="card-header">
            Total presentes segun dia
          </div>
      
          <div class="card-body">
            <p-chart [type]="'bar'" [data]="presentsChartData" [options]="chartOptions"></p-chart>
          </div>
      
          <button class="btn btn-primary" (click)="generarYDescargarPDFpresentes()">Descargar Datos</button>
        </div>
      </p-tabPanel>  
      

      <!-- Pestaña 5 -->

      <p-tabPanel *ngIf="userRoles === 'user,supplier'" header="Total ausentes segun dia">
        <div class="card">
          <div class="card-header">
            Total ausentes segun dia
          </div>
      
          <div class="card-body">
            <p-chart [type]="'bar'" [data]="absentsChartData" [options]="chartOptions"></p-chart>
          </div>
      
          <button class="btn btn-primary" (click)="generarYDescargarPDFausentes()">Descargar Datos</button>
        </div>
      </p-tabPanel>  



      <p-tabPanel *ngIf="userRoles === 'user,supplier'" header="Total Ventas por Producto">
        <div class="card">
          <div class="card-header">
            Total Ventas por Producto
          </div>
      
          <div class="card-body">
            <p-chart [type]="'bar'" [data]="totalSalesByBrandChartData" [options]="chartOptions"></p-chart>
          </div>
      
          <button class="btn btn-primary" (click)="generateAndDownloadPDFsales()">Descargar Datos</button>
        </div>
      </p-tabPanel>
      
    </p-tabView>

    <p-messages></p-messages>
  </div>
  <p-messages></p-messages>
</div>
