<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div *ngIf="userRoles === 'user,admin'" class="card">
      <div class="card-header">
        Estadísticas de Usuarios
      </div>
  
      <div class="card-body">
        <p-chart [type]="'pie'" [data]="chartData" [options]="chartOptions2"></p-chart>
      </div>
  
      <button class="btn btn-primary" (click)="descargarExcel()">Descargar Datos</button>
    </div>
  
    <div *ngIf="userRoles === 'user,supplier'" class="card">
      <div class="card-header">
        Cantidad de turnos reservados por agenda
      </div>
  
      <div class="card-body">
        <p-chart [type]="'bar'" [data]="data" [options]="chartOptions"></p-chart>
      </div>
  
      <button class="btn btn-primary" (click)="descargarExcel()">Descargar Datos</button>
    </div>

    <div *ngIf="userRoles === 'user,supplier'" class="card">
      <div class="card-header">
        Estadisticas de agendas
      </div>
    
      <div class="card-body">
        <p-dropdown
          [options]="schedules"
          [(ngModel)]="selectedSchedule"
          optionLabel="name"
          placeholder="Selecciona una agenda"
          (onChange)="loadSupplierData()"
        ></p-dropdown>

        <p-chart [type]="'bar'" [data]="supplierChartData" [options]="supplierChartOptions"></p-chart>
        
      </div>
      <button class="btn btn-primary" (click)="descargarExcelPorAgenda()">Descargar datos de Agenda</button>

    </div>

    <p-messages></p-messages>
  </div>
  <p-messages></p-messages>
</div>