<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="titulo">CARGAR PRODUCTOS</span>
                            <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                                <div class="mb-3">
                                    <input type="text" formControlName="name" class="form-control form-control-lg"
                                        placeholder="Nombre del producto">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('name')?.hasError('required') && productoForm.get('name')?.touched">
        
                                        <span>El nombre del producto <strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" formControlName="brand" class="form-control form-control-lg"
                                        placeholder="Marca">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('brand')?.hasError('required') && productoForm.get('brand')?.touched">
        
                                        <span>La marca <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" formControlName="description" class="form-control form-control-lg"
                                        placeholder="Descripcion">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('description')?.hasError('required') && productoForm.get('description')?.touched">
        
                                        <span>La descripcion <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" formControlName="code" class="form-control form-control-lg"
                                        placeholder="Codigo">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('code')?.hasError('required') && productoForm.get('code')?.touched">
        
                                        <span>El codigo <strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="number" formControlName="prize" class="form-control form-control-lg"
                                        placeholder="Precio">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('prize')?.hasError('required') && productoForm.get('prize')?.touched">
        
                                        <span>El precio <strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="number" formControlName="quantity" class="form-control form-control-lg"
                                        placeholder="Cantidad">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('quantity')?.hasError('required') && productoForm.get('quantity')?.touched">
        
                                        <span>La cantidad <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p-multiSelect [options]="products" formControlName="selectedProducts" optionLabel="name"></p-multiSelect>
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('selectedProducts')?.hasError('required') && productoForm.get('selectedProducts')?.touched">
                                        <span>El producto <strong>es obligatorio</strong></span>
                                    </div>
                                </div>                                
                                <div class="mb-3">
                                    <input type="date" formControlName="caducityDatetime" class="form-control form-control-lg"
                                        placeholder="Fecha caducidad">
                                    <div class="text-danger"
                                        *ngIf="productoForm.get('caducityDatetime')?.hasError('required') && productoForm.get('caducityDatetime')?.touched">
        
                                        <span>La fecha de caducidad <strong>es obligatoria</strong></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button routerLink="/listar-producto"
                                        class="btn btn-secondary btn-lg float-start">VOLVER</button>
                                    <button type="submit" [disabled]="productoForm.invalid"
                                        class="btn btn-success btn-lg float-end">ACEPTAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
