<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="card">
            <p-card header="Duplicati">
                <div class="card-content">
                    <p class="edit">DUPLICATI</p>
                    <p>
                        Duplicati es una aplicación de código abierto diseñada para realizar copias de seguridad de datos en sistemas informáticos. Sus características principales son: capacidad de programar y automatizar copias de seguridad, cifrar datos para la privacidad y la seguridad, se pueden almacenar las copias en varios destinos (nube, unidad local, servidor externo, etc.)
                    </p>
                    <div class="advantages">
                        <h5>Ventajas:</h5>
                        <ul>
                            <li>Código abierto y gratuito</li>
                            <li>Cifrado de datos</li>
                            <li>Flexibilidad en el almacenamiento</li>
                            <li>Programación y automatización</li>
                            <li>Historial de versiones</li>
                            <li>Integración con servicios de sincronización en la nube</li>
                        </ul>
                    </div>
                    <div class="disadvantages">
                        <h5>Desventajas:</h5>
                        <ul>
                            <li>Configuración inicial compleja (sobre todo elegir qué cifrado usar)</li>
                            <li>Recursos del sistema (sobre todo durante el cifrado y compresión de datos)</li>
                            <li>Posible inestabilidad (salvada por el constante desarrollo al ser de código abierto, por lo que hay que tenerla actualizada)</li>
                        </ul>
                    </div>
                    <h5>Requisitos del Sistema:</h5>
                    <p>
                        Duplicati debe instalarse en un dispositivo con un sistema operativo compatible. Actualmente, estos sistemas operativos son compatibles:
                        <ul>
                            <li>Windows Vista y superior (versiones de 32 y 64 bits)</li>
                            <li>Windows Server 2008 y versiones posteriores (versiones de 32 y 64 bits)</li>
                            <li>Linux</li>
                            <li>Apple Mac OSX</li>
                        </ul>
                        Duplicati necesita unos 40 MB de espacio libre en el disco duro para su instalación. Sin embargo, se requiere espacio adicional para la ejecución.
                    <div class="documentation-link">
                        <h5>Enlace a la documentación:</h5>
                        <a href="https://drive.google.com/file/d/1VVNWXDb9NyKOn5Ryc8igYUJuqJfcWoBv/view?usp=sharing" target="_blank">Documentación Duplicati</a>
                    </div>
                </div>
            </p-card>
        </div>
        <p-messages></p-messages>
    </div>
    <p-messages></p-messages>
</div>
