
<div class="title">
  <h1>Perfil</h1>
</div>
<div class="profile-container">
 


  <div class="personal-info-container">
    <mat-card class="personal-info">
      <h2>Información Personal</h2>
      <p><strong>Nombre:</strong> {{ userProfileData.firstName }}</p>
      <p><strong>Apellido:</strong> {{ userProfileData.lastName }}</p>
      <p><strong>Correo Electrónico:</strong> {{ userProfileData.email }}</p>
      <p><strong>Nombre de Usuario:</strong> {{ userProfileData.username }}</p>
      <p><strong>Perfiles Activos:</strong> {{ userProfileData.activeProfiles }}</p>
      <p><strong>Fecha de Registro:</strong> {{ userProfileData.registrationDate | date: 'dd/MM/yyyy' }}</p>
      <button>Actualizar Información Personal</button>
    </mat-card>
  </div>

  <div class="avatar-container">
    <img class="avatar" [src]="userProfileData.avatar" alt="Foto de perfil">
  </div>

  <app-sidebar></app-sidebar>
</div>