/* user-profile.component.css */

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 18px;
  margin-left: 300px;
  margin-top: 200px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: black;
}

.personal-info-container {
  flex: 1;
  margin-right: 200px; /* Ajusta el margen derecho según tus necesidades */
}

.avatar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  height: 20%; /* Ajusta la altura según tus necesidades para que coincida con el profile-container */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-left: 20px; /* Espaciado entre el profile-container y la foto de perfil */
}

.personal-info {
  width: 100%; /* Ajusta el ancho del elemento según tus necesidades */
  max-width: 700px;
  margin-bottom: 16px;
}
